<ion-header>
  <ion-toolbar>
    <ion-title>Realizar Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Servicio</ion-label>
      <ion-input>{{ servicio.getNombre() }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número de Tarjeta</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Expiración</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CVV</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="realizarPago()">Pagar</ion-button>
</ion-content>
