ion-header {
    .header-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: var(--ion-color-primary);
    }
  }


.payment-form {
  padding: 16px;

  ion-card {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
    ion-card-header {
      background-color: var(--ion-color-primary);
      color: white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  
      .card-title {
        font-size: 22px;
        font-weight: bold;
      }
    }

    ion-card-content {
      padding: 16px;

      ion-item {
        margin-bottom: 8px;

        ion-label {
          font-size: 22px;
          color: var(--ion-color-dark);
        }

        p {
          font-size: 18px;
        }
      }
    }
  }
  

  ion-button {
    margin: 16px;
    border-radius: 10px;
    background-color: var(--ion-color-primary);
    color: #fff;
  }
}

.ionLabelPerso{
    margin-bottom: 6px;
}

  