<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Detalles del servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="cargando" name="crescent"></ion-spinner>

  <div *ngIf="!cargando">
    <ion-card *ngIf="servicio">
      <div class="image-wrapper">
        <img alt="Service Image" [src]="servicio.getImagen()" />
      </div>
      <ion-card-header>
        <ion-card-title>{{ servicio.getNombre() }}</ion-card-title>
        <ion-card-subtitle>{{ servicio.getPrecio() }}€</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ servicio.getDescripcion() }}</p>
        <p><strong>Autor:</strong> {{ servicio.getUsuario().getNombre() }}</p>
        <ion-button expand="block" color="primary" (click)="irPago()">Contratar Servicio</ion-button>
        <ion-button expand="block" (click)="irHome()">Volver</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ miValoracion ? 'Actualizar tu valoración' : 'Agregar una valoración' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="valoracionForm" (ngSubmit)="miValoracion ? actualizarValoracion() : agregarValoracion()">
          <ion-item>
            <ion-label position="floating">Puntuación (1 al 5)</ion-label>
            <ion-input type="number" formControlName="puntuacion" min="1" max="5"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Comentario</ion-label>
            <ion-input formControlName="comentario"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit">
            {{ miValoracion ? 'Actualizar Valoración' : 'Agregar Valoración' }}
          </ion-button>
          <ion-button expand="block" color="danger" *ngIf="miValoracion" (click)="eliminarValoracion()">Eliminar Valoración</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-list-header>
        <ion-label class="ion-label-perso">Valoraciones de los usuarios</ion-label>
      </ion-list-header>
      <ion-card *ngFor="let valoracion of valoraciones">
        <ion-card-header>
          <ion-card-title>{{ valoracion.getUsuario().getNombre() }}</ion-card-title>
          <ion-card-subtitle>{{ valoracion.getPuntuacion() }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ valoracion.getComentario() }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
