ion-header {
    .header-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: var(--ion-color-primary);
    }
}

ion-card {
    margin: 16px auto;
    border-radius: 8px;

    ion-card-header {
        background-color: var(--ion-color-primary);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;

        .card-title {
        font-size: 20px;
        font-weight: bold;
        }


    }
}

ion-label{
    font-size: 20px;
    font-weight: bold;
}

.pedido-details {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width: 768px) {
    ion-card {
        margin: 24px auto;
    }
}
  